.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-navlink {
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.navigation-links1-navlink1 {
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink2 {
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink3 {
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}














@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.task1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
}
.task1-header {
  width: 1167px;
  height: 95px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 20px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 60px;
  margin-bottom: 21px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.task1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.task1-burger-menu {
  display: none;
}
.task1-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.task1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.task1-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.task1-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.task1-image {
  height: 2rem;
}
.task1-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.task1-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.task1-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.task1-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.task1-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.task1-hero {
  width: 100%;
  height: 873px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: flex-start;
  padding-top: 88px;
  flex-direction: column;
  padding-bottom: 172px;
  justify-content: flex-start;
  background-color: #f1f1f1;
}
.task1-container2 {
  width: 701px;
  display: flex;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 77px;
  flex-direction: column;
}
.task1-text {
  width: 808px;
  font-size: 60px;
  align-self: center;
}
.task1-text1 {
  margin-top: var(--dl-space-space-twounits);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: var(--dl-space-space-twounits);
}
.task1-image1 {
  width: 683px;
  height: 248px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 40px;
  margin-bottom: 87px;
}
.task1-image1:hover {
  box-shadow: 5px 5px 50px 0px #000000;
}
@media(max-width: 991px) {
  .task1-hero {
    flex-direction: column;
  }
  .task1-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .task1-text1 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .task1-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .task1-nav {
    display: none;
  }
  .task1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .task1-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .task1-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .task1-image1 {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .task1-header {
    padding: var(--dl-space-space-unit);
  }
  .task1-mobile-menu {
    padding: 16px;
  }
  .task1-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .task1-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
